/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
